<div class="mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="..\..\..\..\static\image\parking-banner.jpg" alt="">
                        <div class="p-3">
                            <div class="d-flex justify-content-between mb-3">
                                <h6 class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i> {{ parking.address_p }}</h6>                                
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <h6>({{ parking.slots }})</h6>                                
                                <h6 class="m-0"><i class="fa fa-car text-primary mr-2"></i> {{ parking.slots }}</h6>
                            </div>
                            <div class="col h5 text-decoration-none">
                                {{ parking.title }}
                            </div>
                            <div class="row">
                                <div class="col  align-self-center">                                    
                                        <a class="h5 text-decoration-none" href="{% url 'parking:parking' parking.slug %}"><button  class="btn btn-primary">Seleccionar</button></a>                                                                            
                                </div>
                                <div class="col align-self-center">                                    
                                    <h6 class="text-primary"><i class="text-dark">Hora:</i> ${{ parking.price_hour }}</h6>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>