{% extends 'base.html' %}

{% block breadcrumb %}
    {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content%}
{% load parking_extras %}

    <div class="col-6 ms-5 p-5 mb-5">
        <div class="h3 ">
            Comprobante de Pago
        </div>
        <br>
        <div class="card">
            <div class="card-header bg-warning">
                <p class="h2">Ticket:</p>
                    <p class="p-2 h-2 fw-bold bg-dark text-light">Número de orden: 0004568782</p>
            </div> 
            <div class="card-body">
                    {% for parking in reserve.parkings.all %}
                        {% include 'orders/snippets/parking.html' %}
                    {% endfor%} 
            </div>  
            <div class="card text-bg-success ">                               
                    <p class="h4 ms-3 mt-3">Estado: Pago Concretado</p>
                    <p class="h4 ms-3">Total: <span class="h3 text-light fw-bold ms-3">{{ order.total | price_format }}</span></p>
                    
            </div>                        
    </div>
    
{% endblock%}

