{% extends 'base.html' %}
{% load parking_extras %}
{% load reserve_extras %}
{% block content%}
    <div class="col">
        <div class="h2 m-5 mb-1">
            Añadiendo a tu reserva:
        </div>
        <div class="card m-5 mt-2">
            <div class="card p-2">       
                <h3 class="text-success">
                    <span class="font-weight-bold text-success">
                        {% if quantity == 500 %}
                        <p>1 Mes agregado</p>
                        {% elif quantity == 110 %}
                        <p>1 Semana Agregada</p>
                        {% elif quantity == 20 %}
                        <p>Estadia Agregada</p>
                        {% else %}                                
                        {{ quantity | quantity_add_format }} 
                        {% endif %}
                    </span>
                    </h2>         
                <h3>Reserva: {{ parking.title }}</h2>                 
                <h4>Dirección: {{ parking.address_p}}</h3>         
                <div class="d-flex mt-3 mb-5">       
                    <a href="{% url 'parking:parking' parking.slug %} ">
                        <button class="btn btn-warning border rounded-pill me-3 p-3">Ver mas informacion</button></a>                                                                
                    <a href="{% url 'reserves:reserve' %}"><button class="btn btn-success border rounded-pill p-3"> Confirmar Reserva </button></a>
                </div>
             <div>            
        </div>

    </div>
{% endblock %}