{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rcd eparkel="icon" type="image/png" href="images/icons/epark.png" />
    <!-- Main Start -->
    <div class="post-body">        
        <div class="container main-bg">
            <!-- Title -->
            <div class="pt-5 pb-2">
                <h2 class="text-white text-center text-uppercase mb-md-3 b-sh" style="font-size: 2.5rem; font-weight: 700">Estacionar ya no es problema, <br> en Epark lo solucionamos.</h2>
                <h1 class="text-center text-white mb-md-4 b-sh" style="font-size: 3rem; font-weight: 700">¿A dónde tienes que viajar hoy?</h1>        
            </div>
            <!-- Searchbar -->
            <div class="col mt-1 mb-4">
                {% include 'parking/snippets/search.html' %}
            </div>
            <!-- map -->
            <div class="col col-map pb-4">                        
                <div class="row pb-5">              
                    <iframe src="https://www.google.com/maps/d/embed?mid=1LaLDtSY8-fL9pZVCNApe9QV61YgQh9s&hl=en&ehbc=2E312F" width="640" height="480" class="remove-top"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Main End -->

    <!-- Most Wanted Start -->
    <div class="container-fluid py-5">
        <div class="container pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Parkings</h6>
                <h1>Estacionamientos mas buscados</h1>
            </div>
            <div class="row mb-2">
                {% for parking in parkings %}
                    {% if forloop.counter <= 4 %}
                        <div class="col-md-3">
                            <div class="mt-2 {% if forloop.last %}mb-5{% endif %}">
                                {% include 'parking/snippets/parking.html' %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Most Wanted End -->

    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicio</h6>
                <h1>Busca y Reserva tu estacionamiento</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Busqueda Interactiva</h5>
                        <p class="m-0">Busca tu estacionamiento en el mapa o indicando la ciudad o destino</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Reserva Anticipada</h5>
                        <p class="m-0">Reserva tu lugar por hora, estadia, o mensualidad en el momento que quieras</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Lugar asegurado</h5>
                        <p class="m-0">Tenes la disponibilidad en tiempo real, evitamos que pierdas tu tiempo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Destination Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destinos</h6>
                <h1>Explorar lugares</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-01.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Buenos Aires</h5>
                            <span>+ 500 Ciudades</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-02.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Cordoba</h5>
                            <span>+ 350 Ciudades</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-03.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">San Luis</h5>
                            <span>+ 153 Ciudades</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-04.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Misiones</h5>
                            <span>+ 12 Ciudades</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-05.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Jujuy</h5>
                            <span>+ 7 Ciudades</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="..\static\image\destination\destination-06.png" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="">
                            <h5 class="text-white">Catamarca</h5>
                            <span>+ 12 Ciudades</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination Start -->



{% endblock %}