{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bg-white pb-5 rounded p-4 col-lg-6 col-md-8 col-sm-10 text-black d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
                
                <div class="text-center mb-4">
                    <img src="{% static 'image/epark.png' %}" alt="E-Park Logo" height="auto" style="max-height: 80px;">
                    <h1 class="h1 fw-bold mt-3">E-Park</h1>
                </div>
                
                <form method="post" class="w-100" style="max-width: 400px;">
                    {% csrf_token %}
                    <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Iniciar Sesión</h3>

                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="username" placeholder="Usuario" required>
                    </div>

                    <div class="form-group mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                    </div>

                    <p class="small mt-3 text-center">
                        <a class="text-muted" href="#!">¿Olvidaste tu contraseña?</a>
                    </p>
                    <p class="text-center mt-2">
                        ¿Aún no tienes una cuenta? 
                        <a href="{% url 'register' %}" class="link-info">Regístrate aquí.</a>
                    </p>
                </form>
            </div>

            <div class="col-lg-6 d-none d-lg-block p-0">
                <div class="h-100">
                    <img src="{% static 'image/signup-bg.jpg' %}" alt="Login image" class="w-100 h-100" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
